{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin.css') }}">
{% endblock %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        {% block side_bar_after_nav_content %}
            <a>© 2018 by </a><a href="https://www.sigmapix.com" rel="noreferrer" target="_blank"> <span style="color:#AAA"><b>Sigma</b></span><span style="color:#3d85c6 "><b>pix</b></span></a>
        {% endblock %}
    </p>
{% endblock %}

{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}

