{% extends 'base.html.twig' %}

{% block title %}{{ nss }}{% endblock %}

{% block body %}
<p class="big-font">Merci, votre retour à bien été enregistré.</p>
<a class="btn btn-primary" href="{{ path('retour_enfant_coupon_2_recherche') }}">Saisir un autre retour</a>
<br><br>
<strong><a href="{{ path('fos_user_security_logout') }}">[ Se déconnecter ]</a></strong>
<br><br>
{% endblock body %}
