{% extends 'base.html.twig' %}

{% block title %}{{ nss }}{% endblock %}
    
{% block body %}
<p class="big-font">
{{ nss }}<br>
{% for lien in liens %}
    {{ lien.genererLangageNaturelHtml | raw }}<br><br>
{% endfor %}
</p>
{% endblock body %}
