{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<p class="big-font">Merci, votre retour à bien été enregistré.</p>
<a class="btn btn-primary" href="{{ path('retour_coupon_2') }}">Saisir un autre retour</a>
<br><br>
{% endblock body %}
