{% extends 'base.html.twig' %}

{% block title %}{{ 'retour_coupon_2' | trans }}{% endblock %}

{% block body %}
    <h1>Formulaire de retours Coupons 2</h1>
    <hr>
    <div class="big-font">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock body %}
