<a href="{{ admin.generateObjectUrl('import', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_import'|trans({}, 'SonataAdminBundle') }}">
    <i class="fa fa-sign-in"></i>
    {{ 'action_import'|trans({}, 'SonataAdminBundle') }}
</a>