{% if object.filePath %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('download', object) }}"><i class="fa fa-download"></i> {{ "link_action_download"|trans({}, 'SonataAdminBundle') }}</a>
{% endif %}
